<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example Test Suite" verbose="1" parallel="methods" thread-count="4">

    <!-- Test Block for AppTest -->
    <test name="AppTest Execution">
        <classes>
            <class name="org.example.AppTest"/>
        </classes>
    </test>

    <!-- Test Block for Step Definitions -->
    <test name="Step Definitions Execution">
        <classes>
            <class name="org.example.stepDefinitions.LoginSteps"/>
            <class name="org.example.stepDefinitions.LeadSteps"/>
<!--            <class name="org.example.stepDefinitions.ContactSteps"/>-->
        </classes>
    </test>

</suite>
